body {
    background-color: #f4f5f6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

main {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.name-container {
    margin-top: auto;
    margin-bottom: auto;

}

.profile {
    background-color: #171B1D;
    color: white;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.work-container  {
background-color: #DDD;
    border-radius: 25px;
}

.profile-image {
    height: 15vh;

}

.img-thumbnail {
    transform: rotate(0deg);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 10px 0px;
    border-radius: 15px;
    border: 1px solid black;
    width:200px;
}

nav {
    font-size: 120%;
    font-family: 'sans-sarif', "Helvetica Neue", "Helvetica", serif;
    text-transform: uppercase;
}

.nav-container {
    margin-top: auto;
    margin-bottom: auto;
}

nav a:link {
    text-decoration: none;
    color: #eafc40
}

.profile-name {
    letter-spacing: 1px;
}

.profile-email {
    letter-spacing: 1px;
    color: #777;
}


@media screen and (max-width: 414px) {
    .profile-image-right {
        display: none;
    }

    .profile-image-center {
        display: block;
    }

}

@media screen and (min-width: 415px) {
    .profile-image-right {
        display: block;
    }

    .profile-image-center {
        display: none;
    }


}